<body>
  <div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#product">Products</a>
    <a href="#about">Login</a>
    <a href="#news">Help</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="badge badge-pill bg-danger">1</span>
        <span><i class="bi bi-cart"></i></span>
      </a>
    </li>
  </div>
  
  <div style="padding-left:16px">
    <h2>Online Shopping</h2>
  </div>
  
  <script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>
</body>
  

