<body>
        <div class="about-section">
            <h1>Start Shopping Now!</h1>
            <!-- <p>Resize the browser window to see that this page is responsive by the way.</p> -->
          </div>
          
          <div class="row">
            <div class="column">
              <div class="card">
                <img src="/my-app/src/assets/image1.jpeg" alt="image1" style="width:100%">
                <div class="container">
                  <h2>Men's Taupe Shacket</h2>
                  <p class="title">R399.00</p>
                  <p>R399.00</p>
                  <p><button class="button">Add to cart</button></p>
                </div>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img src="/my-app/src/assets/image2.jpeg" alt="image2" style="width:100%">
                <div class="container">
                  <h2>Men's American Sweatshirts</h2>
                  <p class="title">R456.00</p>
                  <p>R456.00</p>
                  <p><button class="button">Add to cart</button></p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img src="/my-app/src/assets/image2.jpeg" alt="image2" style="width:100%">
                <div class="container">
                  <h2>Men's American Sweatshirts</h2>
                  <p class="title">R456.00</p>
                  <p>R456.00</p>
                  <p><button class="button">Add to cart</button></p>
                </div>
              </div>
            </div>
            
            <div class="column">
              <div class="card">
                <img src="/my-app/src/assets/image3.jpeg" alt="image3" style="width:100%">
                <div class="container">
                  <h2>Ladies top and shorts</h2>
                  <p class="title">R360.00</p>
                  <p>R360.00</p>
                  <p><button class="button">Add to cart</button></p>
                </div>
              </div>
            </div>
          </div>
        
    </body>


