<body>
        <div class="about-section">
            <h2>Start Shopping Now!</h2>
            
          </div>
      <div>
          <div class="row">
            <div class="column">
              <div class="card">
                <img class="mx-auto d-block" src="../../assets/image1.jpeg" alt="image1" style="width:100%">
                <div class="container">
                  <h2>Men's Taupe Shacket</h2>
                  <!-- <p class="title">R399.00</p> -->
                  <p>R399.00</p>
                  <p><button (click)="addToCart()">Add to cart</button></p>
                </div>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img class="mx-auto d-block" src="../../assets/image2.jpeg" alt="image2" style="width:100%">
                <div class="container">
                  <h2>Ladies top and shorts</h2>
                  <!-- <p class="title">R456.00</p> -->
                  <p>R456.00</p>
                  <p><button (click)="addToCart()">Add to cart</button></p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img class="mx-auto d-block" src="../../assets/image3.jpeg" alt="image3" style="width:100%">
                <div class="container">
                  <h2>Men's Sweatshirt</h2>
                  <!-- <p class="title">R456.00</p> -->
                  <p>R279.99</p>
                  <p><button (click)="addToCart()">Add to cart</button></p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img class="mx-auto d-block" src="../../assets/image4.jpeg" alt="image3" style="width:75%">
                <div class="container">
                  <h2>Men's Shirt Button Up</h2>
                  <!-- <p class="title">R456.00</p> -->
                  <p>R250.00</p>
                  <p><button (click)="addToCart()">Add to cart</button></p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img class="mx-auto d-block" src="../../assets/image5.jpeg" alt="image3" style="width:100%">
                <div class="container">
                  <h2>Women's Pinafore Dress</h2>
                  <!-- <p class="title">R456.00</p> -->
                  <p>R290.00</p>
                  <p><button (click)="addToCart()">Add to cart</button></p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <img class="mx-auto d-block" src="../../assets/image6.jpeg" alt="image3" style="width:100%">
                <div class="container">
                  <h2>Men's Brown T-Shirt</h2>
                  <!-- <p class="title">R456.00</p> -->
                  <p>R259.99</p>
                  <p><button (click)="addToCart()">Add to cart</button></p>
                </div>
              </div>
            </div>
            
           

           
          
        </div>
      </div>
    </body>


